.header {
    -fx-min-height: 30px;
    -fx-text-alignment: center;
    -fx-background-color: #4E4E4E;
    -fx-font-size: 18px;
}

.header .text {
    -fx-fill: white;
}

.header .menu {
    -fx-min-height: 30px;
    -fx-padding: 0 30px 0 30px;
}

.header .menu:hover {
    -fx-background-color: #4E4E4E;
}

.header .menu:showing {
    -fx-background-color: #4E4E4E;
}

.header .menu:hover .text {
    -fx-background-color: #4E4E4E;
    -fx-fill: grey;
}

.custom-accordion .title {
    -fx-background-color: #898989;
}

.custom-accordion .title .text {
    -fx-fill: #FFFFFF;
}

.custom-titled-pane > .title > .arrow-button .arrow {
    -fx-background-radius: 0;
    -fx-background-color: #4E4E4E;
    -fx-effect: none !important;
}

.custom-accordion .content {
    -fx-background-color: #57575C;
}

.inspector-label .text {
    -fx-fill: #FFFFFF;
}

.inspector-button {
    -fx-background-color: #C4C4C4;
}

.inspector-button:default,
.inspector-button__pressed {
    -fx-background-color: #4E4E4E;
}

.inspector-button:default .text,
.inspector-button__pressed .text {
    -fx-fill: #FFFFFF;
}

.inspector-button:hover {
    -fx-background-color: #898989;
}

.inspector-checkbox .text {
    -fx-fill: #FFFFFF;
}

.inspector-checkbox .box {
    -fx-background-color: #C4C4C4;
}

.footer {
    -fx-background-color: lightgrey;
}

.functions-table .table-row-cell {
    -fx-cell-size: 30px;
}